Repository kyma-project/kyma-companion, pull requests merged in 2024-12, with the labels that each got.

#300 chore: removed redundant message content
  .gitignore
  src/agents/supervisor/agent.py
  tests/integration/agents/kyma/test_kyma_agent.py
  tests/unit/agents/supervisor/test_supervisor_agent.py
Labels: size/L, cla: yes, lgtm, evaluation requested, run-integration-test

#301 chore: use async for external calls
  poetry.lock
  pyproject.toml
  src/agents/common/agent.py
  src/agents/graph.py
  src/agents/kyma/tools/search.py
  src/agents/supervisor/agent.py
  src/rag/generator.py
  src/rag/query_generator.py
  src/rag/retriever.py
  src/rag/system.py
  tests/integration/agents/kyma/test_kyma_agent.py
  tests/integration/agents/supervisor/test_finalizer.py
  tests/integration/agents/supervisor/test_planner.py
  tests/integration/agents/test_common_node.py
  tests/integration/rag/test_query_generator.py
  tests/integration/rag/test_rag_system.py
  tests/unit/agents/common/test_agent.py
  tests/unit/agents/supervisor/test_supervisor_agent.py
  tests/unit/agents/test_graph.py
  tests/unit/rag/test_generator.py
  tests/unit/rag/test_query_generator.py
  tests/unit/rag/test_retriever.py
Labels: size/XXL, cla: yes, lgtm, evaluation requested, run-integration-test

#303 test: prepare tests for yml to json change
  .github/workflows/pull-evaluation-tests.yaml
  .github/workflows/pull-integration-test.yaml
Labels: cla: yes, size/XS, lgtm, evaluation requested

#296 feat: add initial Kyma RAG reranker
  pyproject.toml
  src/agents/common/constants.py
  src/rag/reranker/__init__.py
  src/rag/reranker/prompt.py
  src/rag/reranker/reranker.py
  src/rag/reranker/rrf.py
  src/rag/reranker/utils.py
  src/rag/system.py
  tests/integration/rag/fixtures/kyma_docs/telemetry-manager/docs/user/resources/04-tracepipeline.md
  tests/integration/rag/test_rag_system.py
  tests/unit/__init__.py
  tests/unit/rag/__init__.py
  tests/unit/rag/reranker/__init__.py
  tests/unit/rag/reranker/fixtures.py
  tests/unit/rag/reranker/test_reranker.py
  tests/unit/rag/reranker/test_rrf.py
  tests/unit/rag/reranker/test_utils.py
Labels: cla: yes, lgtm, size/XL, evaluation requested, run-integration-test

#306 chore: add retry for integration tests
  poetry.lock
  pyproject.toml
Labels: cla: yes, size/S, lgtm, run-integration-test

#274 refactor: move env vars to json file
  .github/workflows/unit-test.yaml
  .gitignore
  README.md
  config/config.yml
  scripts/k8s/companion-deployment.yaml
  src/utils/config.py
  src/utils/settings.py
  tests/unit/utils/test_config.py
  tests/unit/utils/test_settings.py
Labels: size/L, cla: yes, lgtm, evaluation requested

#308 chore: use structured output in Kyma RAG reranker
  src/rag/reranker/prompt.py
  src/rag/reranker/reranker.py
  tests/unit/rag/reranker/test_reranker.py
Labels: cla: yes, size/S, lgtm, evaluation requested, run-integration-test

#305 feat: added structured output for planner
  src/agents/common/constants.py
  src/agents/common/state.py
  src/agents/k8s/agent.py
  src/agents/kyma/agent.py
  src/agents/supervisor/agent.py
  src/agents/supervisor/prompts.py
  src/rag/prompts.py
  src/rag/query_generator.py
  tests/integration/agents/supervisor/test_planner.py
  tests/unit/agents/common/test_agent.py
  tests/unit/agents/common/test_state.py
  tests/unit/agents/supervisor/test_supervisor_agent.py
  tests/unit/rag/test_query_generator.py
Labels: size/L, cla: yes, lgtm, evaluation requested, run-integration-test

#312 test: remove legacy config.yml
  .github/workflows/pull-integration-test.yaml
Labels: cla: yes, size/XS, lgtm

#307 chore: use smaller chunks
  .gitignore
  doc_indexer/.vscode/launch.json
  doc_indexer/.vscode/settings.json
  doc_indexer/poetry.lock
  doc_indexer/pyproject.toml
  doc_indexer/src/indexing/adaptive_indexer.py
  doc_indexer/src/indexing/contants.py
  doc_indexer/src/main.py
  doc_indexer/src/utils/documents.py
  doc_indexer/src/utils/settings.py
  doc_indexer/tests/unit/indexing/test_adaptive_indexer.py
  doc_indexer/tests/unit/utils/test_documents.py
  doc_indexer/tests/unit/utils/test_models.py
  poetry.lock
  pyproject.toml
  src/agents/common/state.py
  src/agents/graph.py
  src/agents/k8s/tools/logs.py
  src/agents/k8s/tools/query.py
  src/agents/kyma/tools/query.py
  src/agents/kyma/tools/search.py
  src/agents/supervisor/agent.py
  src/agents/supervisor/state.py
  src/rag/generator.py
  src/rag/prompts.py
  src/rag/reranker/prompt.py
  tests/integration/rag/datasets/eventing.py
  tests/integration/rag/datasets/istio.py
  tests/integration/rag/datasets/serverless.py
  tests/integration/rag/datasets/telemetry.py
  tests/integration/rag/fixtures/kyma_docs/eventing-manager/docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  tests/integration/rag/fixtures/kyma_docs/eventing-manager/docs/user/troubleshooting/evnt-05-fix-pending-messages.md
  tests/integration/rag/fixtures/kyma_docs/istio/docs/user/troubleshooting/03-20-connection-refused.md
  tests/integration/rag/fixtures/kyma_docs/istio/docs/user/troubleshooting/03-30-istio-no-sidecar.md
  tests/integration/rag/fixtures/kyma_docs/istio/docs/user/tutorials/01-40-enable-sidecar-injection.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/troubleshooting-guides/03-40-function-build-failing-k3d.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/troubleshooting-guides/03-50-serverless-periodically-restaring.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/tutorials/01-10-create-inline-function.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/tutorials/01-100-customize-function-traces.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/tutorials/01-110-override-runtime-image.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/tutorials/01-120-inject-envs.md
  tests/integration/rag/fixtures/kyma_docs/serverless/docs/user/tutorials/01-20-expose-function.md
  tests/integration/rag/fixtures/kyma_docs/telemetry-manager/docs/user/02-logs.md
  tests/integration/rag/fixtures/kyma_docs/telemetry-manager/docs/user/resources/04-tracepipeline.md
  tests/integration/rag/test_rag_system.py
  tests/unit/rag/test_generator.py
  tests/unit/utils/test_factory.py
Labels: size/XXL, cla: yes, lgtm, evaluation requested, run-integration-test

#316 fix: add missing xml tag to reranker prompt
  poetry.lock
  pyproject.toml
  src/rag/prompts.py
  src/rag/reranker/prompt.py
  tests/integration/rag/datasets/eventing.py
  tests/integration/rag/datasets/istio.py
  tests/integration/rag/datasets/telemetry.py
  tests/integration/rag/test_rag_system.py
Labels: size/L, cla: yes, lgtm, evaluation requested, run-integration-test

#317 fix: include all agent messages for finalizer
  poetry.lock
  src/agents/supervisor/agent.py
  src/agents/supervisor/prompts.py
  tests/integration/agents/supervisor/test_finalizer.py
Labels: size/L, cla: yes, lgtm, run-integration-test
