Repository kyma-project/kyma-companion, pull requests merged in 2025-08, with the labels that each got.

#738 feat: added validation for namespace in resource link generation
  src/agents/common/response_converter.py
  src/agents/supervisor/agent.py
  src/agents/supervisor/state.py
  src/services/k8s.py
  tests/integration/services/test_k8s.py
  tests/unit/agents/common/test_response_converter.py
Labels: run-integration-test

#741 feat: change resource validation to not reject the request
  src/agents/common/constants.py
  src/agents/common/utils.py
  src/agents/graph.py
  src/routers/conversations.py
  tests/unit/agents/common/test_utils.py
  tests/unit/agents/test_graph.py
  tests/unit/routers/test_conversations.py
Labels: evaluation requested, run-integration-test

#745 fix: test-service-6 and test-function-11
  tests/blackbox/data/test-cases/06_k8s_wrong_svc_labels/scenario.yml
  tests/blackbox/data/test-cases/11_kyma_serverless_function_no_replicas/scenario.yml
Labels: evaluation requested

#753 refactor: replaced requests with aiohttp in k8sclient
  .gitignore
  poetry.lock
  pyproject.toml
  src/agents/common/response_converter.py
  src/agents/common/utils.py
  src/agents/k8s/tools/logs.py
  src/agents/k8s/tools/query.py
  src/agents/kyma/tools/query.py
  src/agents/supervisor/agent.py
  src/initial_questions/inital_questions.py
  src/routers/conversations.py
  src/services/conversation.py
  src/services/k8s.py
  src/services/k8s_resource_discovery.py
  tests/integration/agents/kyma/test_kyma_agent.py
  tests/integration/agents/kyma/test_kyma_agent_tool_accuracy.py
  tests/integration/services/test_k8s.py
  tests/unit/agents/common/test_response_converter.py
  tests/unit/agents/k8s/tools/test_logs.py
  tests/unit/agents/k8s/tools/test_query.py
  tests/unit/initial_questions/test_initial_questions.py
  tests/unit/routers/test_conversations.py
  tests/unit/services/test_conversation.py
  tests/unit/services/test_k8s.py
  tests/unit/services/test_k8s_resource_discovery.py
Labels: run-integration-test

#761 refactor: fix query grammer
  tests/integration/rag/datasets/telemetry.py
  tests/integration/rag/test_reranker.py
Labels: run-integration-test
