Repository kyma-project/kyma-companion, pull requests merged in 2025-04, with the labels that each got.

#479 feat: use secure redis connection
  src/agents/memory/async_redis_checkpointer.py
  src/utils/settings.py
Labels: lgtm, evaluation requested, run-integration-test

#483 refactor: remove config classes
  src/agents/common/state.py
  src/agents/k8s/tools/logs.py
  src/agents/k8s/tools/query.py
  src/agents/kyma/tools/query.py
Labels: evaluation requested, run-integration-test

#474 fix: token explosion issue for cluster overview
  src/agents/common/utils.py
  src/agents/k8s/agent.py
  src/agents/k8s/prompts.py
  src/agents/k8s/tools/query.py
  src/initial_questions/inital_questions.py
  tests/integration/agents/k8s/__init__.py
  tests/integration/agents/k8s/test_k8s_agent.py
  tests/unit/agents/k8s/test_k8s_agent.py
  tests/unit/agents/k8s/tools/test_query.py
Labels: evaluation requested, run-integration-test

#484 fix: set asyncio_default_fixture_loop_scope to function
  pyproject.toml
Labels: evaluation requested, run-integration-test

#481 fix: gatekeeper node sometime answer directly instead of forwarding
  src/agents/graph.py
  src/agents/prompts.py
  tests/integration/agents/test_gatekeeper_node.py
Labels: evaluation requested, run-integration-test

#480 refactor: remove test functions with __init__
  src/agents/common/state.py
  tests/integration/agents/supervisor/test_planner.py
  tests/unit/agents/common/test_agent.py
  tests/unit/agents/supervisor/test_supervisor_agent.py
  tests/unit/agents/test_graph.py
Labels: evaluation requested, run-integration-test

#498 chore: improved follow-up questions prompt
  src/followup_questions/prompts.py
  tests/integration/agents/test_followup_questions.py
Labels: run-integration-test

#501 fix: fixed injecting resource info when invoking graph
  src/agents/common/state.py
  src/agents/graph.py
  tests/unit/agents/common/test_state.py
  tests/unit/agents/test_graph.py
Labels: evaluation requested, run-integration-test

#500 fix: added filter to clean invalid AIMessage and ToolMessage sequence
  src/agents/common/agent.py
  src/agents/common/state.py
  src/agents/common/utils.py
  src/agents/graph.py
  src/agents/summarization/summarization.py
  src/agents/supervisor/agent.py
  src/utils/utils.py
  tests/unit/agents/common/test_utils.py
  tests/unit/utils/test_src_utils.py
Labels: evaluation requested, run-integration-test

#492 fix: gatekeeper to identify Kyma queries
  src/agents/common/prompts.py
  src/agents/prompts.py
  src/agents/supervisor/prompts.py
  src/utils/settings.py
  tests/integration/agents/test_gatekeeper_node.py
Labels: evaluation requested, run-integration-test

#505 refactor: enhance readyness-checks
  .github/workflows/pull-evaluation-tests.yaml
  src/routers/conversations.py
Labels: evaluation requested

#506 deps: hdbcli
  poetry.lock
Labels: evaluation requested, run-integration-test
