Repository kyma-project/kyma-companion, pull requests merged in 2025-05, with the labels that each got.

#517 chore: added BTP and Busola docs
  doc_indexer/docs_sources.json
  doc_indexer/src/utils/models.py
Labels: evaluation requested

#516 fix: agent hallucination
  poetry.lock
  pyproject.toml
  src/agents/common/agent.py
  src/agents/common/prompts.py
  src/agents/k8s/prompts.py
  src/agents/kyma/prompts.py
  tests/integration/agents/kyma/test_kyma_agent.py
  tests/unit/agents/common/test_agent.py
  tests/unit/agents/common/test_utils.py
Labels: evaluation requested, run-integration-test

#508 feat: add probes
  .github/workflows/pull-evaluation-tests.yaml
  scripts/k8s/companion-k3d-manifest.yaml
  src/agents/memory/async_redis_checkpointer.py
  src/main.py
  src/rag/system.py
  src/routers/common.py
  src/routers/probes.py
  src/services/conversation.py
  src/services/hana.py
  src/services/metrics.py
  src/services/probes.py
  src/services/redis.py
  src/services/usage.py
  src/utils/hana.py
  src/utils/singleton_meta.py
  tests/unit/routers/test_probes.py
  tests/unit/services/test_conversation.py
  tests/unit/services/test_hana.py
  tests/unit/services/test_probes.py
  tests/unit/services/test_redis.py
  tests/unit/services/test_usage.py
Labels: evaluation requested, run-integration-test

#520 fix: improve gatekeeper conversation history handling
  src/agents/common/state.py
  src/agents/graph.py
  src/agents/prompts.py
  src/utils/models/gemini.py
  tests/integration/agents/fixtures/messages.py
  tests/integration/agents/test_gatekeeper_node.py
  tests/unit/agents/test_graph.py
Labels: evaluation requested, run-integration-test

#519 fix: cluster scoped user query
  scripts/python/companion.png
  scripts/python/generate_langgraph_diagram.py
  scripts/python/k8s_agent.png
  scripts/python/kyma_agent.png
  src/agents/common/agent.py
  src/agents/common/chunk_summarizer.py
  src/agents/common/constants.py
  src/agents/common/error_handler.py
  src/agents/common/prompts.py
  src/agents/common/utils.py
  src/agents/k8s/agent.py
  src/agents/k8s/prompts.py
  src/services/k8s.py
  tests/integration/agents/.deepeval_telemetry.txt
  tests/integration/agents/common/.deepeval_telemetry.txt
  tests/integration/agents/common/test_chunk_summarization.py
  tests/integration/agents/fixtures/k8_query_tool_response.py
  tests/integration/agents/k8s/test_k8s_agent.py
  tests/integration/services/test_k8s.py
  tests/unit/agents/common/test_agent.py
  tests/unit/agents/common/test_chunk_summarizer.py
  tests/unit/agents/common/test_error_handler.py
  tests/unit/agents/common/test_utils.py
  tests/unit/agents/k8s/test_k8s_agent.py
  tests/unit/services/test_k8s.py
Labels: evaluation requested, run-integration-test

#531 feat: added validation for k8s resource context
  config/api_resources.json
  config/resource_relations.json
  scripts/python/k8s_resources_discovery.py
  src/agents/common/constants.py
  src/agents/common/data.py
  src/agents/common/state.py
  src/agents/common/utils.py
  src/agents/graph.py
  src/routers/conversations.py
  src/routers/probes.py
  src/services/k8s.py
  src/services/k8s_resource_discovery.py
  src/services/probes.py
  src/utils/chain.py
  src/utils/logging.py
  src/utils/settings.py
  tests/blackbox/src/evaluation/companion/response_models.py
  tests/unit/agents/common/test_data.py
  tests/unit/agents/common/test_state.py
  tests/unit/agents/test_graph.py
  tests/unit/routers/test_conversations.py
  tests/unit/services/test_k8s.py
  tests/unit/services/test_k8s_resource_discovery.py
  tests/unit/utils/test_logging.py
Labels: run-integration-test
